<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="capas/encabezado :: encabezado">
</head>
<body>
      <h2 align="center">Sistema de Gestión de Ingresos y Egresos</h2>
     <!--cuerpo de la pagina -->
     <!-- javascript de Bootstrap -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

     <!-- usuario no logueado vaya a loguearse -->
      <div sec:authorize="!isAuthenticated()">
          <a th:href="@{/oauth2/authorization/auth0}">Debe loguear para poder usar la aplicación de ingresos y egresos</a>
      </div>

      <div sec:authorize="isAuthenticated()">
          <div class="container-fluid">
              <div class="row">
          <!-- Mostrar perfil del usuario y opciòn de cerrar Sesiòn-->
           <div class="row-lg-4" >
              <img th:src="${user.get('picture')}" th:attr="alt=${user.get('name')}"/>
              <h2 th:text="${user.get('name')}"></h2>
              <p th:text="${user.get('email')}"></p>
              <a th:href="@{/logout}">Cerrar Sesión</a>
           </div>

               <div class="col-lg-4" >
                 <!-- menu derecho -->
                 <nav th:replace="capas/menuderecho:: menuderecho"></nav>
               </div>

              <div class="col-lg-4" >
                <!-- la parte principal o contenido del aplicativo o interna-->
                <main layout:fragment="contenido" role="main" class="container">
                    <!-- Esta parte de la pagina es dinámica-->
                </main>
              </div>
          </div>
         </div>
      </div>


      <!-- Pie de PAgina-->
       <footer th:replace="capas/pie :: pie"></footer>



</body>
</html>